.card_list___3N0Mg .card___XYRpA{width:120px;display:inline-block;text-align:center;border:2px solid #dcd1a0;margin:2px;border-radius:4px;padding:5px 0 0;cursor:pointer;position:relative;transition:.2s}.card_list___3N0Mg .card___XYRpA img{height:50px;margin:0 auto}.card_list___3N0Mg .card___XYRpA .title____Cr1y{padding:0 3px;border-bottom:1px solid #dcd1a0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.card_list___3N0Mg .isMark___1ZzD_{background:#dcd1a0}@media screen and (max-width:414px){.card_list___3N0Mg .card___XYRpA{width:110px}}
.tab___QuGDw{border-radius:4px;font-size:14px;cursor:pointer;background:#dcd1a0;margin:0 6px 6px 0}.tab___QuGDw.active___2KaIE{background:#8a7b66;color:#fff}

